if SHIELD_ORTHOLEFT

    config ZMK_KEYBOARD_NAME
        default "ortho"

    config ZMK_SPLIT_BLE_ROLE_CENTRAL
        default y

endif

if SHIELD_ORTHORIGHT

    config ZMK_KEYBOARD_NAME
        default "ortho"

endif

if SHIELD_ORTHOLEFT || SHIELD_ORTHORIGHT

    config ZMK_SPLIT
        default y

endif